<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Dev Pathways Interview</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Dev Pathways Interview</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    @if (User.Identity.IsAuthenticated)
                    {
                    <ul class="navbar-nav flex-grow-1 float-right">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home |</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="HouseHoldMembers"> HouseHold Members |</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Education"> Education |</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Profile"> @ViewBag.Name |</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Logout"> Logout</a>
                        </li>
                    </ul> }
                else
                {
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Login">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Register">Register</a>
                    </li>
                </ul>
                }

                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - Dev Pathways Interview - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    <script>
        //Bind State dropdownlist
        $(".countyDropdown").change(function () {
            var countyId = $(this).val();
            $.getJSON("/Home/GetSubcounties", { CountyId: countyId }, function (data) {
                var item = "";
                $(".subcountyDropdown").find('option').not(':first').remove();

                item += '<option value=""> --- select subcounty --- </option>'
                $.each(data, function (i, subcounty) {
                    item += '<option value="' + subcounty.value + '">' + subcounty.text + '</option>'
                });
                $(".subcountyDropdown").html(item);
            });
        });

        $(".subcountyDropdown").change(function () {
            var subcountyId = $(this).val();
            $.getJSON("/Home/GetWards", { SubCountyID: subcountyId }, function (data) {
                var item = "";
                $(".wardsDropdown").find('option').not(':first').remove();

                item += '<option value=""> --- select ward --- </option>'
                $.each(data, function (i, ward) {
                    item += '<option value="' + ward.value + '">' + ward.text + '</option>'
                });
                $(".wardsDropdown").html(item);
            });
        });

    </script>

    @RenderSection("Scripts", required: false)
</body>
</html>
